.main{
  .row{
  margin: 0 !important;
  }


  @media only screen and (max-width: 480px) {
    .btn{
      // width: 100%;
    }
    .del{
      text-align: center !important;
    }
    .edit{
      text-align: right;
      padding: 0px !important;
    }
  }


  .title{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
  }
  .navbar{
    
    padding: 20px 0px;

    .search{
      
    }
    
    &-but{
      
      text-align: right;
      
      .btn{
        // width: 60%;

      }
    }
  }
  .list{
    // border: solid 2pt green;
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    .tick{
      // border: solid 2pt blue;
      text-align: center;
      padding: 0px;
      margin: 0px;
      // cursor: pointer;
      .form-check-input{
        cursor: pointer;
      }
    }
    .data{
      // border: solid 2pt yellow;
    }
    .del{
      // border: solid 2pt red; 
      text-align: left;
      // cursor: pointer;
      .bi{
        cursor: pointer;
      }
    }
    .edit{
      // border: solid 2pt black;
      text-align: left;
      // cursor: pointer;
      .bi{
        cursor: pointer;
      }
    }
  }
}